.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: self-end;
  margin-block-start: 25px;
}

.button {
  position: relative;
  border: 2px solid currentColor;
  padding: 9px;
  overflow: hidden;
  color: var(--accent-color, #000000);
  font-family: var(--font-PressStart2P, 'PressStart2P-Regular', sans-serif);
  font-size: 14px;
  line-height: 13px;
  background: var(--bg-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  min-block-size: 38px;
}

.button_text-upper {
  text-transform: uppercase;
}

.button__text {
  position: relative;
  color: var(--color-btn-mix-blend, #ffffff);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}

@media (hover: hover) {
  .button:hover::before {
    transform: translateX(0);
  }
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.icon {
  block-size: 28px;
  inline-size: 28px;
}

html:has(.modal[open]) {
  overflow-y: hidden;
}

.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal {
  inset: 0;
  display: grid;
  grid-template-columns: 39px auto;
  align-items: center;
  gap: 30px 20px;
  border: 2px solid currentColor;
  padding: 30px;
  opacity: 1;
  color: var(--accent-color, #000000);
  text-transform: uppercase;
  background-color: var(--bg-color, #ffffff);
  transition: opacity 0.5s ease;
  inline-size: 357px;
}

.modal__title {
  font-family: var(--font-PressStart2P, 'PressStart2P-Regular', sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.modal__form {
  grid-area: 2 / 1 / 3 / 3;
}

.modal__btn {
  inline-size: 100%;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__icon {
  block-size: 100%;
  inline-size: 39px;
}

/* FILTERS */

.filter-saturate-low {
  filter: saturate(0.2);
}
.filter-saturate-high {
  filter: saturate(3.2);
}

.filter-hue-rotate {
  filter: hue-rotate(45deg);
}

.filter-mix {
  filter: hue-rotate(115deg) blur(2px) contrast(0.7);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(15px);
}

.text {
  color: var(--accent-color, #000000);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' 400;
}

.page {
  margin: 0 auto;
  padding-block-start: 100px;
  font-family: var(--font-Inter-Variable, 'Inter-Variable', sans-serif);
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      to bottom,
      var(--color-gradient-line, #d3d3d3),
      var(--color-gradient-line, #d3d3d3),
      2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to left,
      var(--color-gradient-line, #d3d3d3),
      var(--color-gradient-line, #d3d3d3),
      2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--color-gradient-fill-up, #e7e7e7) var(--fill-gardient-dur, 0.01%),
      var(--color-gradient-fill-down, #1a1a1a)
    );

  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
  border: 2px solid currentColor;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem)
    clamp(0.875rem, -6.7692rem + 32.6154vw, 7.5rem) 25px;
  color: var(--accent-color, #000000);
  font-family: var(--font-PressStart2P, 'PressStart2P-Regular', sans-serif);
  text-transform: uppercase;
  background-color: var(--bg-color, #ffffff);
  min-block-size: 368px;
}

.header__logo {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-align: center;
  text-decoration: none;
}
.header__title {
  display: block;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  padding-inline-start: 15px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -22px;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__button:disabled::before {
    animation: move 0.5s ease-in-out infinite alternate;
  }
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__button:focus-visible::after {
    transform: scaleX(1);
  }
}

@media (hover: hover) {
  .theme-menu__button:hover {
    color: var(--color-btn-hover, rgba(0, 0, 0, 0.6));
  }
}

.cards {
  color: var(--accent-color, #000000);
}

.cards__list-item:not(:last-child) {
  margin-block-end: 50px;
}

.card {
  background-color: var(--bg-color, #ffffff);
  border: 2px solid currentColor;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000000);
}

.card__header {
  border-block-end: 2px solid currentColor;
  padding: 4px 10px;
}

.card__body {
  position: relative;
  width: 100%;
  border-block-end: 2px solid currentColor;
  overflow: hidden;
}

@supports (aspect-ratio: 1/1) {
  .card__body {
    aspect-ratio: 1/1;
  }
}

.card__label {
  position: absolute;
  z-index: 1;
  top: clamp(1.5625rem, 1.4165rem + 0.6231vw, 1.6875rem);
  right: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  opacity: 0.5;
  font-family: var(--font-PressStart2P, 'PressStart2P-Regular', sans-serif);
  text-shadow: -1px 0 var(--bg-color, #ffffff), 0 1px var(--bg-color, #ffffff),
    1px 0 var(--bg-color, #ffffff), 0 -1px var(--bg-color, #ffffff);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--bg-color, #ffffff);
) or ( -webkit-text-stroke: 1px var(--bg-color, #ffffff))) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--bg-color, #ffffff);
    -webkit-text-stroke: 1px var(--bg-color, #ffffff);
  }
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-variation-settings: 'wght' var(--font-variable-weight, 700);
}

.card:not(.card__header) .text:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.card__btn {
  width: auto;
  min-inline-size: 130px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 35px 100px;
}

.footer__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-block-size: 80px;
}

.footer__icon {
  color: var(--color-btn-mix-blend, #ffffff);
  mix-blend-mode: difference;
}

@media (width > 375px) {
  .page {
    max-inline-size: 696px;
  }

  .icon:not(.modal__icon) {
    block-size: 21px;
    inline-size: 21px;
  }

  .footer__btn {
    flex-direction: row;
    min-inline-size: 335px;
    min-block-size: 55px;
  }
}

