/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.btn {
  border: 2px solid currentColor;
  padding: 9px;
  color: var(--accent-color, #000000);
  font-family: 'PressStart2P-Regular', sans-serif;
  font-size: 14px;
  line-height: 13px;
  background: transparent;
  min-block-size: 38px;
}

/* FILTERS */

.filter-saturate-low {
  filter: saturate(0.2);
}
.filter-saturate-high {
  filter: saturate(3.2);
}

.filter-hue-rotate {
  filter: hue-rotate(45deg);
}

.filter-mix {
  filter: hue-rotate(115deg) blur(2px) contrast(0.7);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(15px);
}

.page {
  padding-block-start: 100px;
  font-family: 'Inter-Variable', sans-serif;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--color-gradient-line, #d3d3d3),
      transparent 2px
    ),
    repeating-linear-gradient(
      0deg,
      var(--color-gradient-line, #d3d3d3),
      transparent 2px
    ),
    repeating-linear-gradient(
      180deg,
      var(--color-gradient-fill-up, #e7e7e7) 0.01%,
      var(--color-gradient-fill-down, #1a1a1a)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
  border: 2px solid currentColor;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem)
    clamp(0.875rem, -6.7692rem + 32.6154vw, 7.5rem) 25px;
  color: var(--accent-color, #000000);
  font-family: 'PressStart2P-Regular', sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color, #ffffff);
}

.header__title {
  margin-block-end: 25px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-align: center;
}
.header__subtitle {
  display: block;
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  padding-inline-start: 5px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding-inline-start: 19px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: 0;
}

@media (hover: hover) {
  .theme-menu__button:hover {
    color: var(--color-btn-hover, rgba(0, 0, 0, 0.6));
  }
}

.posts {
  color: var(--accent-color, #000000);
  background-color: var(--bg-color, #ffffff);
}

.posts__list-item:not(:last-child) {
  margin-block-end: 50px;
}

.post__header {
  border-inline-start: 2px solid currentColor;
  border-inline-end: 2px solid currentColor;
  border-block-start: 2px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding: 4px 10px;
  font-weight: 700;
}

.post__body {
  position: relative;
  min-height: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
  border-inline-start: 2px solid currentColor;
  border-inline-end: 2px solid currentColor;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  overflow: hidden;
}

@supports (aspect-ratio: 1/1) {
  .post__body {
    aspect-ratio: 1/1;
  }
}

.post__label {
  position: absolute;
  top: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  right: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);
  opacity: 0.5;
  font-family: 'PressStart2P-Regular', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .post__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post:not(.post__header) .post__text:not(:last-of-type) {
  margin-block-end: 27px;
}

.post__text {
  font-size: 18px;
  line-height: 21px;
}

.post__footer {
  display: flex;
  flex-direction: column;
  border-inline-start: 2px solid currentColor;
  border-inline-end: 2px solid currentColor;
  border-block-start: 1px solid currentColor;
  border-block-end: 2px solid currentColor;
  padding: 25px;
}

.post__btn {
  align-self: flex-end;
  width: auto;
  margin-block-start: 25px;
  min-inline-size: 152px;
}

