:root {
  --bg-color: #ffffff;
  --accent-color: #000000;
  --color-contour: #000000;
  --color-sparks: #ff0000;
  --color-core: #ffffff;
  --color-main-body: #ffffff;
  --color-gradient-line: #d3d3d3;
  --color-gradient-fill-up: #e7e7e7;
  --color-gradient-fill-down: #1a1a1a;
  --color-btn-hover: rgba(0, 0, 0, 0.6);
  --color-btn-mix-blend: var(--bg-color, #ffffff);
  --font-Inter-Variable: 'Inter-Variable', sans-serif;
  --font-PressStart2P: 'PressStart2P-Regular', sans-serif;
  --font-variable-weight: 700;
  --fill-gardient-dur: 0.01%;
}

